Fabric component
<canvas id="canvasId"></canvas>
<button{{action 'showJSON'}}>show json</button>
<button{{action 'addRectangle'}}>add rectangle</button>
{{input value=textValue}}
<button{{action 'addText'}}>add texte</button>